@charset "UTF-8";
/* 메인 페이지 */
.mn_mainBanner {
	min-width: 1440px;
	min-height: 900px;
	
	background-image:url(/resources/img/main/mainBanner.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mn_main {
	width: 1440px;
	height: 300px;
	margin: 0px auto;
	padding: 0px 120px;
	color: white;
	font-size: 20px;
	position: relative;
	top: 300px;
	-webkit-text-stroke: 0.1px black;
}
.mn_mainTitle {
	font-weight: bold;
}
.mn_mainText {
	font-size: 30px;
	margin-bottom: 20px;
}


/* 배너 */
.mn_banners {
	width: 1440px;
	padding: 0px 120px;
	margin: 80px auto;
	clear: both;
}
.mn_banners img {
	width: 500px;
	height: 625px;
	border: 1px solid #DDDDDD;
}
.mn_bannerCard {
	width: 700px;
	height: 627px;
	padding: 30px 60px;
}
.mn_bannerTitle {
	border-top: 3px solid #BA131A;
	width: 300px;
	font-size: 50px;
	font-weight: bold;
}
.mn_bannerSubTitle {
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0px;
}
.mn_bannerButton {
	font-size: 20px;
	font-weight: bold;
	padding: 5px 20px;
	border: 0.5px solid #BA131A;
	border-radius: 8px;
	margin: 30px;
	background: none;
	color: #444444;
}
.mn_bannerButton span {
	float: right;
	position: relative;
	top: -11px;
	color: #BA131A;
	font-size: 30px;
	margin-left: 10px;
	margin-bottom: -30px;
}