@charset "UTF-8";
.bd_Section {
}
/* 브랜드 배너 */
.bs_Banner {
	position: relative;
	min-width: 1000px;
	height: 400px;
	overflow: hidden;
	background: #2F2323;
}
.bs_Banner img {
 	position: absolute;
	left: calc(50% - 1000px);
	top: calc(50% - 250px);
}


/* 브랜드 스토리 */
.bs_Story {
	width: 100%;
	height: 700px;
	background: white;
}
.bs_StoryMain {
	margin: 0px auto;
	padding: 100px 0;
	width: 1000px;
	height: 100%;
	
	border: 1px solid black;
}
.bs_StoryLeft {
	float: left;
	width: 400px;
}
.bs_StoryTitle {
	color: #BA131A;
	font-size: 30px;
	font-weight: bold;
}
.bs_StorySubTitle {
	width: 280px;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	padding: 20px 0;
	font-size: 40px;
}
.bs_StoryRight {
	float: right;
	width: 500px;
	margin-top: 70px;
}
.bs_StoryTextTitle {
	font-size: 30px;
}
.bs_StoryTextSub div {
	margin: 20px 0px;
}


/* */
.bs_forBack {
	height: 500px;
	width: 100%;
	background: url("/resources/img/brand/brandBack.jpg") 50% 50% / cover no-repeat fixed rgba(0, 0, 0, 0);
}


/* 브랜드 소개 */
.bs_Intro {
	width: 100%;
	height: 700px;
	background: white;
}
.bs_IntroMain {
	margin: 0px auto;
	padding: 100px 0;
	width: 1000px;
	height: 100%;
	
	border: 1px solid black;
}
.bs_IntroRight {
	float: right;
	width: 400px;
	margin-right: 0px;
}
.bs_IntroTitle {
	color: #BA131A;
	font-size: 30px;
	font-weight: bold;
	text-align: right;
	width: 280px;
}
.bs_IntroSubTitle {
	width: 280px;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	padding: 20px 0;
	font-size: 40px;
	text-align: right;
}
.bs_IntroDetail {
	clear: both;
	width: 100%;
}
.bs_IntroDetails {
	float: left;
	width: 33.3333333%;
	height: 100px;
	border: 1px solid black;
}
/* 그림 가운데 정렬 하게 만듬, 그런데 오른쪽으로 살짝 넘음 */

/*
https://www.codingfactory.net/10978
https://nykim.work/86
*/