@charset "UTF-8";
/* 래시피 */
.mn_recipe {
	width: 1250px;
	margin: 100px auto;
}
.mn_recipeText {
	float: right;
	width: 500px;
	height: 100%;
	padding: 10px;
	font-size: 25px;
	background: white;
	position: relative;
	top: -300px;
	right: 60px;
}


/* 메뉴 목록 */
.mn_menuList {
	width: 1250px;
	margin: 50px auto;
	text-align: center;
	border-top: 1px solid #EEEEEE;
	padding-top: 50px;
}
.mn_menuListTitle {
	text-weight: bold;
	font-size: 30px;
}
.mn_menuLists {
	padding: 30px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.mn_menuItem {
	width: 400px;
	height: 100%;
	margin-bottom: 40px;
}
.mn_menuItem img {
	border: 3px solid #EEEEEE;
}
.mn_menuItem div {
	margin-top: 20px;
	font-weight: bold;
	color: #444444;
}

